/* TABLET */
@media (max-width: 768px) {
    header{
        padding: 20px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 30px;
    }      
}
/* MOBILE G*/
@media (max-width: 425px) {
    header {
        font-size: 5px;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    h1 {
        display: none;
        font-size: 10px;
    }
    #foto {
        display: none;
    }
}
